#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

body {
    background-color: #111111;
}

.main {
    background-color: transparent;
    border: 0;
    padding: 50px;
    margin-top: 100px;
}

.main input {
    background-color:rgba(255,255,255,.15);
    color: rgba(255,255,255,0.8);
    border-radius: 30px;
}
.main input::placeholder {
    color: rgba(255,255,255,0.4);
}

.main input:focus {
    background-color: rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.8);
}

.main h2 {
    color: rgba(255,255,255,0.8);
    text-align:center;
    width: 100%;
    margin-bottom: 30px;
}

.main [type='submit'] {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

a#footer-text {
    color: #dddddd;
    font-size: 10px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: block;
}
