{% extends "base-nav.html" %}

{% block css %}
    {{ super() }}
    <style>
    body {
        overflow: hidden;
        background-color: #434343;
        background-image:linear-gradient(#434343, #282828);
    }
    #content {
        background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
        background-size: 50px 50px;
    }
    #triggers, #events, #conditionals {
        margin-bottom: 10px;
    }
    #triggers div, #events div, #conditionals div {
        display: inline-block;
        width: 75px;
        height: 75px;
        padding: 5px;
        background-color: grey;
        border: 1px solid #aaa;
        text-align: center;
        line-height: 65px;
        color: black;
    }
    #triggers div {
        border-color: #D32F2F;
        background-color: #F44336;
    }
    #events div {
        background-color: #2196F3;
        border-color: #1976D2;
    }
    #conditionals div {
        background-color: #FF9800;
        border-color: #F57C00;
    }
    .tool .fa {
        font-size: 24px;
        color: white;
        background-color: black;
        border: 3px solid transparent;
        padding: 3px;
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
    .tool.active .fa {
        color: black;
        background-color: white;
        border: 3px solid #666;
    }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.9/fabric.min.js" integrity="sha256-D5qjlhHft5LNta9Zzei8iPWEAGyIQt6JkWftlBA81yk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="picker">
        <div id="picker-list">
            <h3>Triggers</h3>
            <div id="triggers">
                <div class="buy">Buy</div>
                <div class="time">Time</div>
                <div class="where">Where</div>
            </div>
            <h3>Events</h3>
            <div id="events">
                <div class="call">Call</div>
                <div class="text">Text</div>
            </div>
            <h3>Conditionals</h3>
            <div id="conditionals">
                <div class="while">While</div>
                <div class="if">If</div>
                <div class="else">Else</div>
            </div>
            <hr />
            <span id="default" class="tool active"><i class="fa fa-fw fa-mouse-pointer"></i></span>
            <span id="arrow" class="tool"><i class="fa fa-fw fa-expand"></i></span>
            <span id="delete" class="tool"><i class="fa fa-fw fa-trash-o"></i></span>
        </div>
        <i class="fa fa-times close-icon" id="picker-close"></i>
    </div>
    <canvas id="editor"></canvas>
{% endblock %}
